@use "generales" as g;

main {
    .titulo_botas {
        @extend %titulo_pages;
        background-image: url(../img/botas_y_borines/chelsea_camel.webp);

        .article_titulo_b {
            color: #FFFFFF;
            padding: 7rem 0rem 0rem 0rem;

            #h1_A_titulo_b {
                font-size: 4rem;
                font-weight: 600;
            }

            #p_A_titulo_b {
                font-weight: 700;
            }
        }
    }

    .S_main2_page_b {
        background-color: #EBE6E3;

        .A_main2_page_b {
            padding: 1rem;
            display: flex;
            justify-content: space-around;
        }
    }
    @include g.mobile {
        .titulo_botas {
            padding: 0;
            .article_titulo_b {
                padding: 1rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                #h1_A_titulo_b {
                    font-size: 2rem;
                }
            }
        }
        .S_main2_page_b {
            .A_main2_page_b {
                flex-direction: column;
            }
        }
    }
}