.titulo_botas {
    padding: 5rem 2rem;
    background-image: url(../img/botas_y_borines/chelsea_camel.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
}