@use "generales" as g;
footer {
    background-color: #1E1B18;
    color: #BDBDBD;
    display: grid;
    padding: 1rem;
    grid-template-columns: repeat(3,1fr);

        .titulosfooter {
            color: #FFFFFF;
        }

            #a_footer {
                text-decoration: none;
                color: #BDBDBD;
            }

    .a_footer {
        color: #BDBDBD;
        text-decoration: none;
    }
    .copyright{
        grid-column: 1/2;
    }

    @include g.tablet{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        padding: 2rem;
    }

    @include g.mobile{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        
    }
}