footer {
    background-color: #1E1B18;
    color: #BDBDBD;
    display: flex;
    flex-direction: row;
}

.titulosfooter {
    color: #FFFFFF;
}

#a_footer {
    text-decoration: none;
    color: #BDBDBD;
}

.logoredes {
    width: auto;
    height: 5vh;
}

.a_footer {
    color: #BDBDBD;
    text-decoration: none;
}