@use "generales" as g;
footer {
    background-color: #1E1B18;
    color: #BDBDBD;
    display: grid;
    grid-template-columns: repeat(3,1fr);

    .s_footer{
        padding: 1rem;
    
        .titulosfooter {
            color: #FFFFFF;
        }

            #a_footer {
                text-decoration: none;
                color: #BDBDBD;
            }
    }

        .logoredes {
            width: auto;
            height: 5vh;
    }

    .a_footer {
        color: #BDBDBD;
        text-decoration: none;
    }
    @include g.mobile{
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
}