@use "generales" as g;

header {
    background-color: #FDFBF8;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: auto;
    width: 100%;
    z-index: 100;
    .titulo_amana {
        text-decoration: none;
        font-size: larger;
        color: #4d3a26;
        font-weight: 700;
    }

    .nav_header {
        display: flex;
        flex-direction: row;
        gap: 20px;
        .a_header {
            text-decoration: none;
            color: #706F6C;
            &:hover {
                color: #4d3a26
            }
        }
    }

    .nav_header_mobile {
        display: none;
    }

    .ul_button {
        display: flex;
        flex-direction: row;
        gap: 20px;
        .button_header {
            color: g.$marron;
            background-color: #FDFBF8;
            border: 0;
            &:hover {
                color: #FFFFFF;
                background-color: #F1EBE6;
            }
        }
    }

    @include g.tablet {
        flex-direction: column;
        .ul_button{
            display: none;
        }
    }
    @include g.mobile {
        height: 20vh;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        .titulo_amana{
            display: none;
        }
        .ul_button{
            display: none;
        }
        .nav_header{
            display: none;
        }
        .nav_header_mobile{
            display: block;
        }
    }
}
