.titulo_mocasines {
    padding: 5rem 2rem;
    background-image: url(../img/mocasines/classic_burgundy.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
}