.titulo_zapatillas {
    padding: 5rem 2rem;
    background-image: url(../img/zapatillas/clara_colores_suaves.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
}